@model List<User>
@{
    ViewBag.Title = "Lista Utenti";
    var data = (User)ViewData["UserInfo"];
}


<div class="container">
    <h2>Lista Utenti</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cogonme</th>
                <th>Username</th>
                <th>Admin</th>
                <th>Dottore</th>
                <th>Modifica</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
                 
                    <tr>

                    <td class="form-control" name="Name">@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.Email</td>
                    @using (Html.BeginForm("UpdateSingleUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <td style="display:none;"><input type="text" value=@user.Id></td>
                        @if (user.Admin)
                        {
                            <td><input type="checkbox" name="chk_admin" checked></td>
                        }
                        else
                        {
                         <td><input type="checkbox" name="chk_admin"></td>
                        }
                        @if (user.Doctor)
                        {
                            <td><input type="checkbox" name="chk_doctor" checked></td>
                        }
                        else
                        {
                        <td><input type="checkbox" name="chk_doctor"></td>
                        }
                <td>@user.Email</td>
                <td><button type="submit" class="btn btn-primary btn-block btn-flat">Salva</button></td>
                <!--<td><button type="submit" onclick="location.href='@Url.Action("ModifyUser", "Admin")'">Salva</button></td>-->
                   }
            </tr>    
                

            }

        </tbody>
    </table>


</div>


@*<table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>DeviceId</th>
                <th>Timestamp</th>
                <th>Value</th>
            </tr>
        </thead>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.DeviceId</td>
                <td>@m.Timestamp</td>
                <td>@m.Value</td>
            </tr>
        }
    </table>*@


